.picture {
  width: 50vh;
  border-radius: .25vw;
  /* object-fit: cover; */
  /* aspect-ratio: 1; */
  /* margin: .75vw; */
}

.picture-container {
  display: flex;
  flex-wrap: wrap;
  /* width: 100%; */
  /* margin: 1vw; */
  /* margin-left: -5vw; */
  /* gap: 1.5vw; */
  align-items: start;
  justify-content: start;
  /* padding: 10; */
}

.pictureandtext {
  width: 50vh;
  margin: .75vw;
}

.image-title {
  /* text-align: center; */
  font-family: monospace;
  font-size: .75rem;
  line-height: 2vh;
}

body {
  background-color: white;
  color: rgb(66, 66, 66);
}

.page-container {
  width: 90%;
  margin-top: 10rem;
  margin: auto;
}

h1 {
  text-align: center;
  line-height: 10vh;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
  font-family:Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

#subme {
  color:mediumpurple;
  font-style: italic;
  font-weight: 600;
}

#desc {
  margin: auto;
  font-style: normal;
  align-items: center;
}

p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: block;
  text-align: center;
  padding: .5vw .75vw;
  text-decoration: none;
  color: #8b8b8b;
  font-weight:normal;
  text-decoration: none;
  text-transform: uppercase;
  font-size: small;
}

li a:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}
nav {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10vh;
  margin-top: 8vh;
}

body {
  margin-left: 6vw;
  margin-right: 6vw;
  line-height: 4vh;
}

#name {
  float: left;
  display: block;
  text-align: center;
  padding: .5vw .75vw;
  text-decoration: none;
  color: #8b8b8b;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  font-size: small;
}

.intro {
  margin-bottom: 1.5vw;
  margin-top: 1.5vw
}

