img {
  width: 800px;
  border-radius: 10px;
  cursor: pointer;
  object-fit: cover;
  /* aspect-ratio: 1; */
}

.text-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  gap: 9px;
}

.text, p {
  /* text-align: center; */
  font-family: monospace;
  font-size: .75rem;
}

body {
  background-color: white;
  color: rgb(66, 66, 66);
}

.page-container {
  width: 80%;
  margin-top: 10rem;
  margin: auto;
}

h1 {
  text-align: center;
}

body, p {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
  font-family:Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

#subme {
  color:mediumpurple;
  font-style: italic;
  font-weight: 600;
}

#desc {
  margin-left: 200px;
  margin-right: 200px;
  font-style: normal;
  align-items: center;
}

p {
  /* text-align: center; */
  /* font-family: Arial, Helvetica, sans-serif; */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #8b8b8b;
  font-weight:normal;
  text-decoration: none;
  text-transform: uppercase;
  font-size: small;
}

li a:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

nav {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 100px;
  margin-top: 80px;
}

body {
  margin-left: 60px;
  margin-right: 60px;
  line-height: 30px;
}

#name {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #8b8b8b;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  font-size: small;
}

.intro {
  margin-bottom: 110px;
  margin-top: 110px;
}

.gallery {
  margin-left: -100px;
  margin-right: -100px;
  flex-wrap: wrap;
  display: inline-flex;
  justify-content: center;
}
.gallery img{
  width: 360px;
  margin-left: 30px;
  margin-right: 20px;
}

.artandcaption p {
  text-align: center;
  margin-top: -10px;
}

a {
  display: inline;
}